body {background-color: #d8f2ce;color: #185706;}

h1 {background-color: #0d6100;color: #ccffc4;}
h1 {font-size: 30pt}

h2 {background-color: #2c9c1a;color: #ccffc4;}
h2 {font-size: 25pt}

h3 {background-color: #46cf30;color: #ccffc4;}
h3 {font-size: 20pt}

p {background-color: #d8f2ce;color: #185706;}
p {font-size: 12pt}

p,h1,h2,h3 {font-family: Verdana,Arial,sans-serif}



link-container {width:80%;margin:20px auto;font-family:Arial,sans-serif}
link-item{display:flex;justify-content:flex-start;align-items:center;border:1px, solid black;padding:10px}
link-item a{margin-right:20px;color:blue}
link-item a:hover{color:darkblue}
link-item a:active{color:red}
link-item p{margin:0;padding:0}
