/*Dropdown Button*/
.dropbtn{
	font-size: 20px;}

.dropdown{
	position:relative;
    float:right;
	display:inline-block;}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #eaf7e1;
	min-width:200px;
}

.dropdown-content a{
	display:block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

body {
	window .addEventListener("load", function () { changeBackground('#beffa8') });
	background: #beffa8;
}